/* css styles */
.subtitle {
    font-family: "Lato", sans-serif;
    font-size: 16px; /* Adjust to your preferred size */
    font-weight: normal;
    color: black; /* Optional: adjust color */
    text-align: center; /* Optional: center the subtitle */
}

ul {
    padding-left: 60px; /* Adjust this value to increase indentation */
}